body {
    font-family: 'Poppins', sans-serif;
    background: #f5f6fa;
    color: #333;
    /* min-height: 80vh; */
}

.navbar.navbar-expand-lg.navbar-light.bg-transparent {
    background-color: #4a4ee0;
}

/* Formulários (Login e Cadastro) */
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #4a4ee0;
}

.card-form {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
}

#linkCadastro {
    text-decoration: none;
    text-align: center;
    display: block;
}

#linkCadastro:active,
#linkCadastro:link,
#linkCadastro:visited {
    color: #4a4ee0;
    text-shadow: 1px 1px #4a4ee0;
}

#linkCadastro:hover {
    scale: 1.2;
}


.form-control {
    width: 100%;
    padding: 12px 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.form-control:focus {
    border-color: #4a4ee0;
    box-shadow: 0 0 8px rgba(74, 78, 224, 0.3);
}

.btn {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-connect {
    background: linear-gradient(135deg, #4a4ee0, #5adbb5);
    color: white;
}

.btn-connect:hover {
    opacity: 0.9;
}


/* Chat */
.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    height: 91vh;
    background: white;
    border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.chat-header {
    background: #4a4ee0;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: 600;
}

#livechat {
    flex: 2;
    padding: 5px;
    overflow-y: auto;
    background: #f7f7f7;
}

#chat {

    flex: 2;
    padding: 5px;
    overflow-y: auto;
    background: #f7f7f7;
}

.nav-link {
    color: white;
}

.msg-sent,
.msg-received {
    max-width: 70%;
    padding: 12px 16px;
    border-radius: 18px;
    margin: 8px 0;
    font-size: 14px;
    line-height: 1.4;
}

.custom-absolute {
    position: absolute;
    left: 20px;
    opacity: 0.4;
    bottom: -4px;
}


.buttonAbsolute {
    position: absolute;
    font-size: 1.3rem;
    right: 80px;
    bottom: -45px;
    background-color: transparent;
}

#sendFiles {
    display: none;
}

#previa {
    display: none;
    flex: 1;
    justify-content: center;

    position: fixed;
    top: 0;
    /* display: flex; */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#previa>img {
    width: 100px;
    height: 100px;
}

.msg-sent {
    align-self: flex-end;
    background: #4a4ee0;
    color: white;
}

.msg-received {
    align-self: flex-start;
    background: #e5e5ea;
    color: #333;
}

.username-received {
    align-self: flex-start;
    color: #666;
    font-size: 0.7em;
}

.username {
    display: flex;
    flex-direction: row;
}

.timeStamp {
    /* text-align: right; */
    width: 15px;
    height: 15px;
    display: block;
    color: #666;
    /* float: right; */
    /* font-size: 0.5em; */
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

#error {
    text-align: center;
    padding: 3px;
    color: red;
}

.timestamp-received {
    text-align: right;
    font-size: 0.5em;
    color: #666;
}

.username-sent {
    color: white;
    font-size: 0.7em;
}

.timestamp-sent {
    color: white;
    font-size: 0.5em;
    text-align: right;

}

.chat-input {
    display: flex;
    padding: 2px;
    border-top: 1px solid #ddd;
    background: #fff;
}

.chat-input textarea,
.chat-input span {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    resize: none;
    outline: none;
}


.chat-input button {
    margin-left: 8px;
    background: #4a4ee0;
    border: none;
    color: white;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.chat-input button:hover {
    background: #373bb3;
}

.recording {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: sans-serif;
}

.dot {
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 50%;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.3;
    }
}

.wave {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
}

.bar {
    width: 5px;
    height: 10px;
    background: #25d366;
    border-radius: 4px;
    transition: height 0.05s linear;
}

#gravacao {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
}

#botao-microfone {
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
}

.durationAudio {
    font-size: 1.2em;
    font-weight: bolder;
    font-style: italic;
    display: inline-block;
    width: fit-content;
    margin-left: 10px;
}
